*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #DFDFDF;
}

span{
    font-size: 40px;

    height: 100vh;
    width: 330px;


    position: absolute;
    left: 330px;

background-image: url(cip.png);
background-size: cover;
}

#email
{color: rgba(0, 0,0, 0.8);
    font-weight: 5px;
 margin-top: 75px;
}

 #passwd{
     color: rgba(0, 0, 0, 0.8);
       font-weight: 5px;
    margin-top: 10px;
 }

.containor{
    width: 500px;
    height: 550px;

    

    position: absolute;
    top: 40px;
   left: 650px;

   border-radius: 25px;
   border-color: black;
    border-style:ridge;}

    #form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .one{ 
width: 250px;
height: 45px;

  border-style: solid;
 border-color: grey;
   border-radius:7px;
    }

        #hed{
            text-align:center ;
        margin-top: 30px;
    }
        
        input::placeholder {
  color: rgb(169, 173, 111);
  font-style: italic;

  position: absolute;
  left: 5px;
    top: 10px;
}


#fp{
    position: relative;
    left: 135px;

    margin-top: 4px;
    font-size: 14px;
}

#enter{
    text-align: center;
    margin-top: 40px;
    padding: 4px;
    font-size: 30px;
    height: 40px;
    width:150px ;
    background-color: burlywood;
    border-radius: 20px;

    cursor: pointer;

position: relative;
left: 165px;
}

    #btn{
         color: rgb(15, 1, 1);
     background-color:burlywood;
    text-decoration: none;

    border-radius: 20px;
    width: 150px;
    height: 40px;



}

    #want{
        text-align: center;
        margin-top: 30px;
        font-size: 18px;
        position: relative;
        left: 30px;
    } 


      
 #outer{
        width: 100vw;
        height: 100vh;

        background-image: url(borproject.jpeg);
        background-size: cover;
    }


 