*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
background-color: black;
}




@keyframes identifier {
    0%{
        background-color: rgba(238, 130, 238,0.5);
    }
    17%{
        background-color: rgba(75, 0, 130,0.5);
    }
    34%{
        background-color: rgba(0, 0, 255,0.5);
    }
    52%{
        background-color: rgba(0, 128, 0,0.5);
    }
    69%{
        background-color: rgba(255, 255, 0,0.5);
    }
    88%{
        background-color: rgba(255, 165, 0,0.5);
    }
    100%{
        background-color: rgba(255, 0, 0,0.5);
    }
}

.container {
    width: 100%;
    height: 70px;
display: flex;
align-items:normal;
background-color: black;
border-radius: 15px;
border-style: solid;
border-color:#0f1111;
position:sticky;
}


.logo {
    width: 300px;
    height: 50px;
}

#nev-one {
    width: 300px;
}
#nev-two{
    width: 120px;
    margin-left: 70px;

}

#nev-three{
    width: 120px;
    margin-left: 70px;
}

#cart-logo{
    width: 60px;
    height: 50px;
    background-image: url(cart-logo.png);
    background-size:contain ;
    margin-left: 70px;
    margin-top: 7px;
    }

    .home{
        height: 50px;
    background-color: black;
    text-decoration: underline;
    
    background-image: url(projects/4d.jpeg);

    }

    a{
        text-decoration: none;
        font-size: 16px;
        color: white;
    
        transition: all 1 ease-in-out 0.2s;

    }

    a:hover{
        font-size: 20px;
    }

    a:active{
        color:red;
    }

    #id1{
        width: 280px;
        height: 25px;
        border-radius: 3px;
        border: 2px solid gray;
        padding-left: 10px;
        margin-top: 15px;
        margin-left: 70px;

        transition: transform 0.3s ease-in-out 0.2s;
    }

    #id1:hover{
        transform: scale(1.1,1.2);
    }

    button{
        width: 40px;
        height: 30px;
        border-radius: 5px;
        border: 2px solid gray;
        margin-left: 0px;
        margin-top: 15px;
        background-color: #0f1111;
        color: white;
    
    }

    #bg-video {
  width: 100%; height: 600px;
  object-fit: cover;
}

.video{
    display: flex;
    flex-direction: column;
height: 400px;
width: 100%;
}

    #blue{
        width: 770px;
        height: 300px;
        margin-top: 20px;
        margin-left: 50px;
        border-style: groove;
        border-color: rgb(5, 1, 1);
    }

#items1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 30px;
    margin-bottom: 50px;
}
#items2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 30px;
    margin-bottom: 50px;
    background-color:dimgray;
    border-radius: 6px;
}

#items3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 30px;
    margin-bottom: 50px;

}

.img {
    height: 150px;
}

#it4{
    background-color:dimgray ;
}
#it5{
    background-color:dimgray ;}
#it9{
    background-color: dimgray;
}

.its{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: cursive;
}

#end{
    width:100% ;
    height: 200px;
    background-color: white;
    margin-top: 30px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#enter{
    text-align: center;
    margin-top: 8px;
    font-size: 30px;
    height: 40px;
    width:150px ;
    background-color: yellow;
    border-radius: 20px;

    cursor: pointer;

}

    #btn{
         color: rgb(15, 1, 1);
     background-color:yellow;
    text-decoration: none;

    border-radius: 20px;
    width: 150px;
                height: 40px;}

    #top{
    width:100% ;
    height: 49px;

    background-color: rgba(47, 47, 62, 0.5);
    }


    #about{

    width:100% ;
    height: 500px;

    background-color: blueviolet;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }
    
    .a{
        background-color: blueviolet;
margin-bottom: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .b{
        animation: identifier 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) 10ms infinite forwards alternate;
        font-size: 22px;
        font-weight: 19px;
        color: black;
    }